*build/
*coverage*
*venv
.DS_Store
.benchmarks/
.env
.make/
.tox
__pycache__/
bin
dist/
node_modules/
package-lock.json
plugin/intellij/.gradle
plugin/intellij/.idea
plugin/intellij/.intellijPlatform
plugin/intellij/.kotlin
plugin/intellij/build
