[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core>=1.0.0"
]

[tool.black]
exclude = '''
/(
  | \.git
  | \.mypy_cache
  | _build
  | build
  | dist
)/
'''
line-length = 79
skip-magic-trailing-comma = true

[tool.constcheck]
ignore_strings = [
  "store",
  "store_true",
  "utf-8"
]

[tool.coverage.report]
exclude_lines = [
  "@_t.overload"
]
fail_under = 100

[tool.coverage.run]
omit = [
  "docsig/__main__.py",
  "whitelist.py"
]

[tool.deptry]
ignore_obsolete = [
  "lsfiles"
]

[tool.docsig]
check-class = true
summary = true

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 79
multi_line_output = 3
profile = "black"
use_parentheses = true

[tool.poetry]
authors = [
  "jshwi <stephen@jshwisolutions.com>"
]
description = "Check signature params for proper documentation"
documentation = "https://docsig.readthedocs.io/en/latest"
homepage = "https://pypi.org/project/docsig/"
keywords = [
  "check",
  "docs",
  "docstring",
  "params",
  "signature"
]
license = "MIT"
maintainers = [
  "jshwi <stephen@jshwisolutions.com>"
]
name = "docsig"
readme = "README.rst"
repository = "https://github.com/jshwi/docsig"
version = "0.34.0"

[tool.poetry.dependencies]
Pygments = "^2.13.0"
Sphinx = "^4.3.2"
arcon = "^0"
astroid = "^2.11.6"
object-colors = "^2.1.0"
python = "^3.8"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
deptry = "^0.8.0"
ipython = "^8.6.0"
pre-commit = "^3.1.0"
prompt-toolkit = "^3.0.37"
pyaud = "^6.1.2"
pylint = "2.15.10"
pytest = "^7.2.0"
pytest-randomly = "^3.11.0"
pytest-sugar = "^0.9.6"
pytest-xdist = "^3.0.2"
restview = "^3.0.0"
sphinx-toolbox = "^3.4.0"
templatest = "^0.8.0"
tomli-w = "^1.0.0"

[tool.poetry.scripts]
docsig = "docsig.__main__:main"

[tool.pyaud]
audit = [
  "const",
  "docs",
  "files",
  "format",
  "format-docs",
  "format-str",
  "imports",
  "lint",
  "params",
  "test",
  "typecheck",
  "unused"
]
exclude = '''
  (?x)^(
    | docs\/conf\.py
    | whitelist\.py
  )$
'''

[tool.pytest.ini_options]
addopts = [
  "--color=yes",
  "--cov-report=term-missing",
  "--durations=5",
  "-n=auto",
  "-vv"
]
filterwarnings = "ignore::DeprecationWarning"
norecursedirs = [
  ".git",
  ".idea",
  ".mypy_cache",
  ".pytest_cache",
  "docs"
]
