[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core>=1.0.0"
]

[tool.black]
exclude = '''
/(
  | \.git
  | \.mypy_cache
  | _build
  | build
  | dist
)/
'''
line-length = 79

[tool.coverage.report]
exclude_lines = [
  "@_t.overload"
]
fail_under = 100

[tool.coverage.run]
omit = [
  "docsig/__main__.py",
  "whitelist.py"
]

[tool.docsig]
check-class = true
check-protected-class-methods = true
summary = true

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 79
multi_line_output = 3
profile = "black"
use_parentheses = true

[tool.poetry]
authors = [
  "jshwi <stephen@jshwisolutions.com>"
]
description = "Check signature params for proper documentation"
documentation = "https://docsig.readthedocs.io/en/latest"
homepage = "https://pypi.org/project/docsig/"
keywords = [
  "check",
  "docs",
  "docstring",
  "params",
  "signature"
]
license = "MIT"
maintainers = [
  "jshwi <stephen@jshwisolutions.com>"
]
name = "docsig"
readme = "README.rst"
repository = "https://github.com/jshwi/docsig"
version = "0.51.1"

[tool.poetry.dependencies]
Pygments = "^2.13.0"
Sphinx = "^7.0.0"
arcon = ">=0.4.0"
astroid = "^3.0.1"
click = "^8.1.7"
pathspec = "^0.12.1"
python = "^3.8"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
deptry = "^0.16.1"
ipython = "^8.12.0"
pre-commit = "^3.3.3"
pyaud = "^7.5.0"
pytest-randomly = "^3.13.0"
pytest-sugar = "^1.0.0"
pytest-xdist = "^3.5.0"
restview = "^3.0.0"
sphinx-immaterial = "^0.11.9"
sphinx-toolbox = "^3.5.0"
templatest = "^0.10.1"

[tool.poetry.scripts]
docsig = "docsig.__main__:main"

[tool.pyaud]
audit = [
  "about-tests",
  "commit-policy",
  "copyright-year",
  "docs",
  "files",
  "format",
  "format-docs",
  "format-str",
  "imports",
  "lint",
  "test",
  "typecheck",
  "unused"
]
exclude = '''
(?x)^(
  | docs\/conf\.py
  | whitelist\.py
)$
'''

[tool.pytest.ini_options]
addopts = [
  "--color=yes",
  "--cov-report=term-missing",
  "--durations=5",
  "-n=auto",
  "-vv"
]
filterwarnings = "ignore::DeprecationWarning"
norecursedirs = [
  ".git",
  ".idea",
  ".mypy_cache",
  ".pytest_cache",
  "docs"
]
