boto3==1.9.99
botocore==1.9.9
urllib3==2.2.2
requests==2.32.2
wheel==0.9.7
certifi==2024.6.2
idna==3.7
charset-normalizer==3.3.2
pip==9.0.3
s3transfer==0.9.0
packaging==24.1
aiobotocore==2.9.1
pyyaml==6.0b1
six==1.9.0
s3fs==2024.6.0
fsspec==2024.6.0
numpy==2.0.0rc2
cryptography==42.0.8
grpcio-status==1.65.0rc1
google-api-core==2.9.0
