certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
furo==2024.4.27
myst-parser==3.0.1
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
pytest==8.2.0
pyyaml==6.0.1
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx-copybutton==0.5.2
sphinx-markdown-builder==0.5.5
templatest==0.10.1
