name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONIOENCODING: utf-8
  POETRY: bin/poetry/bin/poetry

jobs:
  build:
    name: "${{ matrix.os }}-python${{ matrix.python-version }}"
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Checkout Build
        id: checkout-build
        uses: actions/checkout@v6
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Cache Virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: >
            ${{ matrix.os }}-python${{ matrix.python-version }}-${{
              hashFiles('poetry.lock')}}
          restore-keys: "${{ matrix.os }}-python${{ matrix.python-version }}-"
      - name: Build
        id: build
        run: make build
      - name: Check Dependencies
        id: check-dependencies
        run: make .make/check-deps
      - name: Test Scripts
        id: test-scripts
        run: |
          make .make/test-check-news
      - name: Upload Coverage
        id: upload-coverage
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
      - name: Test Bump
        id: test-bump
        run: |
          make .make/test-bump
