name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONIOENCODING: utf-8
  POETRY: bin/poetry/bin/poetry

jobs:
  ci:
    name: "${{ matrix.os }}-python${{ matrix.python-version }}"
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Checkout Build
        id: checkout-build
        uses: actions/checkout@v6
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Get Poetry Version
        id: get-poetry-version
        run: |
          ver=$(python -c "print(open('.poetry-version').read().strip())")
          echo "version=$ver" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Cache Poetry
        uses: actions/cache@v4
        with:
          path: bin/poetry
          key: >
            poetry-${{ runner.os }}-${{
              steps.get-poetry-version.outputs.version}}
      - name: Cache Virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: >
            ${{ matrix.os }}-python${{ matrix.python-version }}-${{
              hashFiles('poetry.lock')}}
          restore-keys: "${{ matrix.os }}-python${{ matrix.python-version }}-"
      - name: Cache .make/ci
        uses: actions/cache@v4
        with:
          path: .make/ci
          key: >
            {{ runner.os }}-python${{matrix.python-version }}-${{ github.sha }}
      - name: CI
        id: ci
        run: make .make/ci
